{% extends "base.html" %}

{% block content %}
<!-- Page Content -->
<div class="container">

  <!-- Contact Form -->
  <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
  <div class="row">
      <div class="container" id="middle">
        <div class="empty-space">
        </div>
      </div>
    <div class="col-lg-8 mb-4 pt-5">
      <h3>Reset Password</h3>
      <form method="post" class="mt-4">
        {% csrf_token %}
        <p><label for="id_email">Email:</label> <input class = "form-control" type="email" name="email" maxlength="254" required id="id_email"></p>
        <input class="btn btn-secondary" type="submit" value="Reset">
      </form>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
{% endblock %}
