{% extends 'base.html' %}

{% block content %}
<!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      {% if request.user.is_authenticated %}
      <h1 class="mt-4 mb-3 pt-3 pb-3 " >{{ object.name|title }}
      </h1>
      {% else %}
      <h1 class="mt-4 mb-3 pt-3 pb-3 text-center" >{{ object.name|title }}
      </h1>
      {% endif %}
      <div class="row">

        <!-- Post Content Column -->
        {% if request.user.is_authenticated %}
        <div class="col-lg-8">
        {% else %}
        <div class="col-lg-8 offset-md-2">
        {% endif %}
          <!-- Preview Image -->
          <img class="img-fluid rounded pb-3" src="{{ object.image.url }}" alt="">

          <hr>

          <!-- Date/Time -->
          <p>Posted on {{ object.time }}</p>
          <hr>
          <!-- Post Content -->
          <p>{{ object.description }}</p>
          <hr>
          <br>
          <br>
        </div>
        {% if request.user.is_authenticated %}
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
          <div class="card">
            <h5 class="card-header">Sections</h5>
            <ul class="list-group list-group-flush mb-0 pl-4">
              {% for key, value in dict %}
                  <li class="list-group-item"><a href="{{ key.get_absolute_url }}">{{ key.name|title }}</a>
                  {% if value %}
                  <span>[ Recenzent ]</span>
                  {% endif %}
                  </li>
              {% endfor %}
            </ul>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Summary</h5>
            <div class="card-body">
              {{ object.summary }}
            </div>
          </div>
          {% if object.chairman == request.user or request.user.is_superuser %}
          <div class="card my-4">
            <h5 class="card-header">Administration</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                        <li><a href="{% url 'user_list' konferencija.id %}">Users</a></li>
                        <li><a href="{% url 'conference:recenzent_list' konferencija.id %}">Recenzenti</a></li>
                  </ul>
                </div>
                <div class="col-lg-6">
                </div>
              </div>
            </div>
          </div>
          {% endif %}

        </div>
        {% endif %}

      </div>
      <!-- /.row -->

    </div>
    <script type="text/javascript">
      $(document).ready(function(){
        console.log('Hello');
        $('.toast').toast();
      });
    </script>
    <!-- /.container -->
{% endblock %}
