{% extends "base.html" %}


{% block content %}
<!-- Page Content -->
  <div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="text-center pt-5 mr-5">My Conferences</h1>
    <div class="row offset-md-1">
      <!-- Blog Entries Column -->
      <div class="col-md-10 col-sm-12 pt-5">
        {% for obj in object_list reversed  %}
        <!-- Blog Post -->
        <div class="card mb-5">
          <img class="card-img-top"  src="http://placehold.it/750x300" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{ obj.name }}
              {% if request.user == obj.chairman %}
              [ Chairman ]
              {% endif %}
            </h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
            <a href="{{ obj.get_absolute_url }}" class="btn btn-secondary">Read More &rarr;</a>
          </div>
        </div>
        {% endfor %}
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  </div>
{% endblock %}
