{% extends "base.html" %}

{% block content %}

<!-- Page Content -->
  <div class="container">
    <div class="empty-space">
    </div>
    <!-- Page Heading/Breadcrumbs -->
    <div class="row mb-5">
      <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ object.name|title }} section</h2>
          <h4 class="section-subheading text-muted">This is the sections page. Here you can upload or search scientific papers.</h4>
      </div>
    </div>

    <!-- Marketing Icons Section -->
    <div class="row">
        {% if Bool and not registered.recenzent_approved %}
          <div class="col-lg-4 mb-4">
            <div class="card h-100">
              <h4 class="card-header">Upload paper</h4>
              <div class="card-body">
                <p class="card-text">Days left to upload: {{ Time }} days</p>
                {% if State %}
                <p class="card-text">Current state of paper: {{ State }} </p>
                <p class="card-text">Name of paper: {{ Rad.title|title }} </p>
                {% endif %}
              </div>
              <div class="card-footer">
                <a href="{% url 'conference:create_file' pk=registered.id %}" class="btn btn-secondary">Upload</a>
              </div>
            </div>
          </div>
        {% endif %}
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header">Scientific papers</h4>
          <div class="card-body">
            <p class="card-text">Click here for an overview of the currently uploaded scientific papers</p>
          </div>
          <div class="card-footer">
            <a href="{% url 'conference:radovi_list' pk=registered.sekcija.id %}" class="btn btn-secondary">Search Papers</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
      <a class="btn btn-outline-secondary" href="{% url 'conference:detail' pk=Sekcija.konferencija.id %}">Back</a>

  </div>
  <!-- /.container -->
{% endblock %}
