{% extends 'base.html' %}


{% block content %}
<div class="container mb-5">
  <h4 class="pt-5 pb-5">Messages between {{ ChatBuddy.first_name|title }} {{ ChatBuddy.last_name|title }} and you</h4>
  <div class="messenger">
    {% for obj in object_list reversed %}
      {% if request.user == obj.messenger.sender %}
        <div class="row">
          <div class="col-md-7">
            <div class="mb-4">
              <div class="p-2 message" style = "border:1px solid black; border-radius:8px; font:3px !important;">
                {{ obj.message|linebreaks }}
                <footer class="footer">
                      <cite title="Source Title">{{ obj.time }}</cite>
                </footer>
              </div>
            </div>
          </div>
        </div>
      {% else %}
        <div class="row">
          <div class="col-md-7">
            <div class="mb-4">
              <div class="p-2 message" style = "color:white;background-color:#6c757d;border:1px solid black; border-radius:8px; font:3px !important;">
                {{ obj.message |linebreaks }}
                <footer class="footer">
                      <cite title="Source Title">{{ obj.time }}</cite>
                </footer>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
<form method="post" class="pt-4">
    {% csrf_token %}
    <textarea class="form-control" id="exampleFormControlTextarea3" rows="4" name="message" value="" placeholder="Enter message" autoFocus></textarea>
    <input  class="btn btn-secondary col-md-1" type="submit" value="Send">
</form>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $(".messenger").animate({ scrollTop: $(this).height() }, 0);
    return false;
  });
</script>

{% endblock %}
