{% extends 'base.html' %}


{% block content %}
<div class="container mb-5">
  <div class="empty-space">
  </div>
  <div class="messenger">
{% for obj in object_list reversed %}
  {% if request.user == obj.messenger.sender %}
    <div class="row">
      <div class="col-5">
      <div class="media mb-4 ml-2">
        <div class="media-body p-2" style = "border:1px solid black; border-radius:8px; font:5px;">
          {{ obj.message }}
          <footer class="footer">
                <cite title="Source Title">{{ obj.time }}</cite>
          </footer>
        </div>
      </div>
      </div>
    </div>
  {% else %}
    <div class="row">
      <div class="offset-6 col-5">
        <div class="media mb-4">
          <div class="media-body p-2 text-right" style = "border:1px solid black; border-radius:8px; font:5px;">
            {{ obj.message }}
            <footer class="footer">
                  <cite title="Source Title">{{ obj.time }}</cite>
            </footer>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
  </div>
<form method="post" class="pt-4">
    {% csrf_token %}
    <textarea class="form-control" id="exampleFormControlTextarea3" rows="4" name="message" value="" autoFocus></textarea>
    <input  class="btn btn-secondary col-1" type="submit" value="Send">
</form>

{% if is_paginated %}
<nav class='float-right' aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      {% if page_obj.has_previous %}
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
      {% else %}
      <a class="page-link" aria-label="Previous" disabled>
      {% endif %}
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
      <li class="page-item active"><a class="page-link">{{ i }}</a></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    <li class="page-item">
      {% if page_obj.has_next %}
      <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
      {% else %}
      <a class="page-link" aria-label="Next" disabled>
      {% endif %}
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
{% endif %}

</div>
<script type="text/javascript">
  $(document).ready(function(){
    $(".messenger").animate({ scrollTop: $(this).height() }, 0);
    return false;
  });
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}
